body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
}

.dataList {
  width: 500px;
  height: 800px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 20px;
}